
{%- assign limit = 16 -%}
{% paginate collection.products by limit %}

{% capture title %}
    <div>
        <a href="">
            <img src="{{ section.settings.banner| img_url:'100x'}}">
        </a>
    </div>
{% endcapture%}

<div class="flash">
    {{ title }}
    {% for product in collection.products %}

        <div class="">
            <a href="{{ product.url }}">
                <img src="{{ product.featured_image | img_url: '600x' }}">
            </a>
            <div>
                <p>{{ product.title }}<span>{{ product.price }} </span></p>
            </div>
            
        </div>
    {% endfor %}
</div>

    {% assign combineproduct = all_products['black-bucket-boots'] %}

    <div>
        <a href="{{ combineproduct.url }}">
            <img src="{{ combineproduct.featured_image | img_url: '600x' }}">
        </a>
        <div>
            <p>{{ combineproduct.title }}<span>{{ combineproduct.price | money}} </span></p>
        </div>
    </div>
	

	{% assign relatedProduct_handle = combineproduct.metafields.meta.related  %}
	{% assign relatedProduct = all_products[relatedProduct_handle] %}

    <div>
        <a href="{{ relatedProduct.url }}">
            <img src="{{ relatedProduct.featured_image | img_url: '600x' }}">
        </a>
        <div>
            <p>{{ relatedProduct.title }}<span>{{ relatedProduct.price | money}} </span></p>
        </div>
    </div>
    
{% endpaginate %}

{% schema %}
{
  "name": "Flash Sale",
  "settings": [
        {
            "type":"text",
            "id":"section_title",
            "label":"Heading",
            "default":"Quick link"
        },
        {
            "type":"image_picker",
            "id":"banner",
            "label":"Banner"
        }
  
  ]
}
{% endschema %}

{% stylesheet %}
    .flash{
        margin:1rem;
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}