
<div>
  <ul>
    {% for collection in collections %}
      {% if collection.title == "Flash Sale"  %}
        {% paginate collection.products by 12 %}

          <div id="image-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    
                  {% for product in collection.products %}
                    <li>
                      <div>
                        <img src="{{ product | img_url : 600x }}">
                      </div>
                      <a href="{{ product.url}}">
                        {{ product.title }}  - {{ product.price | money }}
                      
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          </div>

        {% endpaginate %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
