
<div>
  <ul>
    {% for collection in collections %}
      {% if collection.title == "Flash Sale"  %}
        {% paginate collection.products by 12 %}

          <div id="image-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    
                  {% for product in collection.products %}
                    <li class="splide__slide">
                      <div class="element">  
                        <a href="{{ product.url}}">
                          <img src="{{ product.featured_image | img_url: '300x390' }}" >
                          </a>
<!--                           {{ product.title }}  - {{ product.price | money }} -->

                        
                      </div>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          </div>

        {% endpaginate %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
	.element{
		display:flex;
      	justify-content:center;
		
	}
	.splide__slide{
		background-color:gray;
	}
{% endstylesheet %}

{% javascript %}
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#image-slider' ,{
                perPage: 4,
	            rewind : true,
            } ).mount();
  });
{% endjavascript %}
